<div class="card-columns">
  <% @cocktails.each do |cocktail| %>
    <div class="card">
      <% if cocktail.photo %>
        <%= cl_image_tag cocktail.photo, class: "cocktail-img", crop: :fill %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= cocktail.name.capitalize %></h5>
        <%= link_to 'See Detail', cocktail_path(cocktail) %>
      </div>
    </div>
  <% end %>
</div>


