<h1>Cocktails</h1>
<div class="card-columns">
  <% @cocktails.each do |cocktail| %>
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= cocktail.name.capitalize %></h5>
        <%= link_to 'See Detail', cocktail_path(cocktail) %>
      </div>
    </div>
  <% end %>
</div>
