<h1>Cocktails</h1>
<div class="container">
  <% @cocktails.each do |cocktail| %>
    <div class="card">
      <p><%= cocktail.name %></p>
      <%= link_to 'See Detail', cocktail_path(cocktail) %>
    </div>
  <% end %>
</div>
