// .card-columns {
//   @include media-breakpoint-only(lg) {
//     column-count: 4;
//   }
//   @include media-breakpoint-only(xl) {
//     column-count: 5;
//   }
// }

.cocktail-img{
  width:100%;
  height:auto;
  margin-top: 44px;
}
